<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.qz" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.beetl" level="DEBUG"/>
    <springProfile name="staging">
        <logger name="sample.logback" level="TRACE"/>
    </springProfile>
</configuration>
